@page "/"
@inject IJSRuntime JS
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<section id="home" class="section-1 d-flex flex-column justify-content-center align-items-center vh-100"  >
    <div class="d-flex flex-column" >
        <h1 class="color-white dm-serif" >Build <span class="fugaz-font" >innovative</span> apps with us.</h1>
    </div>
</section>

<section id="about" class="section-2 d-flex flex-column justify-content-center align-items-center vh-100" >
    <div class="container text-center">
        <div class="row d-flex flex-column-reverse flex-md-row">
            <div class="col d-flex justify-content-center align-items-center">
                <p class="dm-serif responsive-text px-4 text-start">
                    AuraFlux LLC is a solo software development company dedicated to crafting innovative apps, websites, 
                    and web applications. With a passion for clean design and seamless user experiences, 
                    AuraFlux specializes in building functional and engaging digital solutions. Whether developing intuitive mobile apps, dynamic web platforms, or custom software, the focus is always on quality, efficiency, and user satisfaction.
                </p>            
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h1 class="fugaz-font color-green">About</h1>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="section-3 d-flex flex-column justify-content-center alight-items-center vh-100 ">
    <div class="container text-center" >
        <div class="row d-flex flex-column flex-md-row">
            <div class="col d-flex justify-content-center align-items-center">
                <h1 class="fugaz-font color-green">Projects</h1>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
                <h1 class="poppins-bolditalic fw-bold" style="color: #4366FB; font-size: 50px;" >LooReview</h1>
                <div class="col d-flex justify-content-center align-items-center">                    
                   <p class="" >
                        <p class="text-start fs-5" >
                           LooReview is a mobile app that helps you find and review public restrooms worldwide. 
                           In NYC, where finding a restroom can be a challenge, LooReview makes it easy to locate clean, accessible bathrooms. Currently focused on the NYC Metro area, with plans for global expansion!
                        </p>
                        <a @onclick="NavigateToLooReview" href="#" class="moreInfo link-body-emphasis fs-4 d-flex align-items-center" 
                        style="text-decoration: none; display: inline-flex; align-items: center;">
                            More Info
                            <img src="icons/right-arrow.png" alt="right-arrow-icon" width="30" height="30" class="arrow-img" />
                        </a>
                    </p>
                </div>            
            </div>           
        </div>
    </div>
</section>


<section id="contactUs" class="section-4 d-flex flex-column justify-content-center alight-items-center vh-100 " >
    <div class="container text-center" >
        <div class="row d-flex flex-column-reverse flex-md-row">
            <div class="col d-flex flex-column" >
                <ContactForm />
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <h1 class="fugaz-font color-green">Contact us</h1>
            </div>
        </div>
    </div>
</section>

@code {
    

    private void NavigateToLooReview()
    {
        Navigation.NavigateTo("/LooReview");
    }

}


