@page "/terms-of-service"

<div style="display: flex; padding-inline: 5em; flex-direction: column;" >
<div name="termly-embed" data-id="9d2f36fe-9bba-4f1e-a4e2-233698fe7569"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, tjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "https://app.termly.io/embed-policy.min.js";
  tjs.parentNode.insertBefore(js, tjs);
}(document, 'script', 'termly-jssdk'));</script>
</div>
