@namespace AuraFluxWebApp

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <span class="mb-3 mb-md-0 fugaz-font fs-4 color-green">2024 AuraFlux LLC</span>
    </div>

    <!-- Centered Icons Section -->
    <div class="col-md-4 d-flex justify-content-center">
        <ul class="nav d-flex">
            <li class="ms-3">
                <a href="https://www.tiktok.com/@@aurafluxllc?is_from_webapp=1&sender_device=pc">
                    <img src="icons/tiktok-icon.png" alt="TikTok Icon" width="30" height="30" />
                </a>
            </li>
            <li class="ms-3 px-5">
                <a href="https://www.instagram.com/aurafluxllc/">
                    <img src="icons/instagram-icon.png" alt="Instagram Icon" width="30" height="30" />
                </a>
            </li>
        </ul>
    </div>

    <!-- Right-aligned Links Section -->
    <div class="col-md-4 d-flex justify-content-end" style="padding-right: 3%;">
        <ul class="nav list-unstyled d-flex">
            <li class="ms-3">
                <a href="/section-1" class="text-body-secondary text-decoration-none">Home</a>
            </li>
            <li class="ms-3">
                <a href="/terms-of-service" class="text-body-secondary text-decoration-none">About</a>
            </li>
            <li class="ms-3">
                <a href="/terms-of-service" class="text-body-secondary text-decoration-none">Projects</a>
            </li>
            <li class="ms-3">
                <a href="/terms-of-service" class="text-body-secondary text-decoration-none">Contact us</a>
            </li>
        </ul>
    </div>
</footer>
