@namespace AuraFluxWebApp
@inject IJSRuntime JS
@rendermode InteractiveServer

<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class=" col-md-4 d-flex align-items-center" style="padding-left: 3%;">
        <NavLink @onclick="async () => await NavigateToSection(home)" class=" text-decoration-none mb-3 mb-md-0 fugaz-font fs-4 color-green" style="" >2024 AuraFlux LLC</NavLink>
    </div>

    <!-- Centered Icons Section -->
    <div class="col-md-4 d-flex justify-content-center">
        <ul class="nav d-flex">
            <li class="ms-3">
                <a href="https://www.tiktok.com/@@aurafluxllc?is_from_webapp=1&sender_device=pc">
                    <img src="icons/tiktok-icon.png" alt="TikTok Icon" width="30" height="30" />
                </a>
            </li>
            <li class="ms-3 px-5">
                <a href="https://www.instagram.com/aurafluxllc/">
                    <img src="icons/instagram-icon.png" alt="Instagram Icon" width="30" height="30" />
                </a>
            </li>
        </ul>
    </div>

    <!-- Right-aligned Links Section -->
    <div class="col-md-4 d-flex justify-content-end" style="padding-right: 3%;">
        <ul class="nav list-unstyled d-flex">
            <li class="ms-3">
                <NavLink href="#" @onclick="async () => await NavigateToSection(home)" class="text-body-secondary text-decoration-none">Home</NavLink>
            </li>
            <li class="ms-3">
                <NavLink href="#" @onclick="async () => await NavigateToSection(about)" class="text-body-secondary text-decoration-none">About</NavLink>
            </li>
            <li class="ms-3">
                <NavLink href="#" @onclick="async () => await NavigateToSection(projects)" class="text-body-secondary text-decoration-none">Projects</NavLink>
            </li>
            <li class="ms-3">
                <NavLink href="#" @onclick="async () => await NavigateToSection(contactUs)" class="text-body-secondary text-decoration-none">Contact us</NavLink>
            </li>
        </ul>
    </div>
</footer>

@code {
    private string home = "home";
    private string about = "about";
    private string projects = "projects";
    private string contactUs = "contactUs";
    
    private async Task NavigateToSection(string section) 
    {
        await JS.InvokeVoidAsync("ScrollTo", section);
    }
}